html {
	height: 100%;
}

body {
	background: #333;
	color: #DDD;
	height: 100%;
	overflow: hidden;
}

input[type='number'] {
	width: 80px;
}

a {
	text-decoration: none;
}

/* Modal */
.modal-content {
	color: #333;
}

#page-header {
	height: 64px;
	background-color: #333;
}

.headerFlexRow {
	display: flex;
	flex-direction: row;
}

.mainContainer {
	margin-top: 64px;
	height: calc(100% - 64px);
	padding: 0px;
}

#toggleSearchBtn {
	margin-left: 16px;
}

@media screen and (max-width: 992px) {
	#page-header {
		height: 88px;
	}

	.mainContainer {
		margin-top: 92px;
	}

	body {
		height: initial;
		overflow: auto;
	}
}

@media screen and (min-width: 992px) {
	#toggleSearchBtn {
		display: none;
	}
}

/* Search side of the page --------------------------------------------------*/
.searchSection {
	border-top: 2px solid #444;
}

#searchList {
	border-top: 2px solid #DDD;
	padding: 10px;
}

.search-checkbox {
	width: 150px;
}

.searchEntry {
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 5px;
	width: calc(100% - 8px);
}

.searchEntry:hover {
	background-color: #555;
}

/* Recipe side of the page --------------------------------------------------*/
#recipeContainer {
	display: flex;
	flex-flow: column;
	padding-right: 0px;
}

#recipeContainerHeader {
	height: 48px;
	margin-bottom: 8px;
}

#recipeContainerBody {
	flex-grow : 1;
}

#materialListContainer {
	margin-top: 32px;
	border-top: 2px solid #DDD;
}

.materialTableList {
	table-layout: fixed;
	width: 100%;
}

.materialTableList > tbody > tr {
	border-bottom: 1px solid #888;
}

.materialTableList>tbody>tr>td {
	vertical-align: middle;
	padding: 8px;
}

.materialTableList>tbody>tr:hover {
	background-color: #555;
}

.materialTableList>tbody>tr>td:not(:first-child) {
	width: calc(100%/8);
}

.materialTableList>thead>tr>th:nth-child(1) {
	width: 72px;
}

#recipeTable>thead>tr>th:not(:first-child) {
	width: calc(100% /4);
}

#selectedOpsTable>thead>tr>th:not(:first-child) {
	width: calc(100% / 8);
}

.listRowComplete {
	background-color: rgba(172, 255, 0, 0.5);
}

.listRowCanComplete {
	background-color: rgba(45, 154, 255, 0.75);
}

#selectedOpsTable>tbody>tr>td {
	vertical-align: middle;
}

#selectedOpsTable>tbody>tr>td:nth-child(1) {
	width: 72px;
}

.materialIcon {
	width: 64px;
	height: 64px;
	border-radius: 32px;

	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}